---
const {
  color = "gray",
  size = 1,
  spacing = 30,
  className,
  style = {},
} = Astro.props;
---

<div
  style={{
    ...style,
    backgroundImage: `radial-gradient(${color} ${size}px, transparent ${size}px)`,
    backgroundSize: `calc(${spacing} * ${size}px) calc(${spacing} * ${size}px)`,
  }}
  class={className}
>
  <slot />
</div>
